# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="postgres://qtnifilbzjatda:8540f2eaf4db9c5fe06208daa8e804e88dbf7dc40969eb5588fba50359f9ea80@ec2-99-80-170-190.eu-west-1.compute.amazonaws.com:5432/dnmo1v85uv6acdass"
ADMIN_URL="https://next-cms-admin.vercel.app"