body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.layout-zone{
  position: relative;
}
.droppable-layer{
  position: relative;
  overflow: hidden;
}
.droppable-area {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 20px;
  background-color: transparent;
}
.droppable-layer .droppable-area.first {
  top: 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.droppable-layer .droppable-area.last {
  bottom: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.droppable-layer.dragging .droppable-area,
.droppable-area.isOver {
  /* background-color: rgba(0, 0, 255, 0.184); */
  background-color: red
}